# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django stuff
*.log
staticfiles/
media/

# Local SQLite database
db.sqlite3

# Environment variables / secrets
.env
.env.*

# macOS
.DS_Store

# IDE / editor settings
.idea/
.vscode/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/


.agent/
locustfile.py