option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: eu-west-1
    DYNAMODB_TABLE_NAME: decks-db
    DEBUG: false

  # Static Files Proxy Mapping
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
