option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings

container_commands:
  03_prewarm_cache:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py shell -c \"from deck_builder.services.scryfall_s3_service import ScryfallS3Service; ScryfallS3Service().get_all_cards(); print('Cache prewarmed successfully')\" && chmod -R 777 /tmp/django_cache"
    leader_only: true
    ignoreErrors: true
